<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center"
     class="tile mat-elevation-z2">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">

        <div fxFlex="grow" class="title mat-typography">
            {{receiver.alias != null ? receiver.alias : receiver.name}}
        </div>


        <div class="m-h-s">
            <button mat-button (click)="onOptions($event)">
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <div class="m-r-m">
            <mat-slide-toggle
                [checked]="receiver.state"
                (change)="onChange($event)">
            </mat-slide-toggle>
        </div>

    </div>

</div>

