<mat-sidenav-container class="fill-height">

    <!-- SIDENAV CONTENT -->
    <mat-sidenav #sidenav mode="over" position="start" opened="false">

        <mat-list>
            <!--<mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>-->
            <mat-list-item><a mat-button>bar</a></mat-list-item>
        </mat-list>

    </mat-sidenav>

    <!-- APPLICATION CONTENT -->
    <mat-sidenav-content class="fill-height">
        <mat-toolbar color="primary" fxLayout="row">

            <!-- first row -->
            <mat-toolbar-row>

                <!-- home -->
                <!--<div fxFlex="25">-->
                <!--<button routerLink="/home" mat-icon-button>-->
                <!--<mat-icon>home</mat-icon>-->
                <!--</button>-->
                <!--</div>-->

                <!-- title -->
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                    <span class="no-style"> <mat-icon>home</mat-icon> </span>
                </div>

                <!--&lt;!&ndash; menu &ndash;&gt;-->
                <!--<div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">-->
                <!--<button mat-icon-button (click)="sidenav.toggle()">-->
                <!--<mat-icon>menu</mat-icon>-->
                <!--</button>-->
                <!--</div>-->

            </mat-toolbar-row>

        </mat-toolbar>

        <!-- APPLICATION ROOT CONTAINER -->
        <div class="app-body">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>



